<!DOCTYPE html>
<html>
<head>
	<title>foo</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vuex"></script>
	<script src="{{ url_for('static', filename='js/colors.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
	<div id="main"></div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/store.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>